.menu{
    height: 40px;
    border: 1px solid rgb(214, 46, 16);
    background-color: beige;
    padding-bottom: 8px;
    font-size: 16px;
}

.navMenu::after{
    content: '';
    display: block;
    clear: both;
}

.navMenu ul{
    list-style: none;
    text-align: left;
    display: flex;
}

.navMenu ul li a{
    padding-left: 2vw;
    display: inline-block;
    text-decoration: none;
    color: #333;
}

.navMenu ul li a:hover{
    font-weight: bold;
    font-size: 20px;
    color: blue;
}

#inicio, #cursos, #contatos, #parceiros, #missao, #sobre{
    border: 1px solid black;
    text-align: center;
}

#inicio{
    height: 70vh;
    background-color: greenyellow;
    
}

#cursos{
    height: 90vh;
    background-color: hotpink;
    
}

#contatos{
    height: 60vh;
    background-color: orange;
    
}

#parceiros{
    height: 40vh;
    background-color: thistle;
    
}

#missao{
    height: 90vh;
    background-color: teal;
    
}

#sobre{
    height: 10vh;
    background-color: seashell;
   
}

/*Configurações do retorno das âncoras*/
.irTopo, .irInicio, .irCursos, .irContatos, .irParceiros, .irMissao, .irSobre{
    font-size: 12px;
    padding: 1vh;
    transition: 0.2s;
    position: fixed;
    right: 1vh;
    text-decoration: none;
    width: 90px;
    text-align: center;  
    border-radius: 4px;
}

.irTopo{
    bottom: 14vh;  
    color: white;
    background-color: rgba(0,0,0,0.3);
}
.irTopo:hover{
    background-color: rgba(0,0,0,0.6);
}

.irInicio{
    bottom: 75vh;  
    color: green;
    background-color:bisque;
}
.irInicio:hover{
    background-color:darkorange;
}

.irCursos{
    bottom: 70vh;  
    color: black;
    background-color: cyan;
}
.irCursos:hover{
    background-color: purple;
}


.irContatos{
    bottom: 65vh;  
    color: black;
    background-color: pink;
}
.irContatos:hover{
    background-color: darkorange;
}

.irParceiros{
    bottom: 60vh;  
    color: white;
    background-color: darkred;
}
.irParceiros:hover{
    background-color: blue;
}

.irMissao{
    bottom: 55vh;  
    color: black;
    background-color:cornsilk;
}
.irMissao:hover{
    background-color: rgb(114, 226, 138);
}

.irSobre{
    bottom: 50vh;  
    color: white;
    background-color:rgb(110, 89, 4);
}
.irSobre:hover{
    background-color: rgb(15, 102, 69);
}

/*Configurações do aside (menu lateral esquerdo)*/

.aside a{
    position: fixed;
    left: -7vw;
    transition: 0.2s;
    padding: 2vh;
    width: 6vw;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    border-radius: 0 15px 15px 0;    
}

.aside a:hover{
    left: 0;

}

#inicio2{
    top: 20vh;
    background-color: blue;
}

#cursos2{
    top: 30vh;
    background-color: rgb(9, 255, 0);
}

#contatos2{
    top: 40vh;
    background-color: rgb(255, 102, 0);
}

#parceiros2{
    top: 50vh;
    background-color: rgb(255, 0, 119);
}

#missao2{
    top: 60vh;
    background-color: rgb(0, 255, 76);
}

#sobre2{
    top: 70vh;
    background-color: rgb(255, 0, 0);
}